.workout {
}

.hide {
  display: none !important;
}

/* Adapted from https://bootsnipp.com/snippets/z8699 START */
.divider-text {
  position: relative;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.divider-text span {
  padding: 7px;
  font-size: 12px;
  position: relative;
  z-index: 2;
}
.divider-text:after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #ddd;
  top: 55%;
  left: 0;
  z-index: 1;
}

.btn-facebook {
  background-color: #405d9d;
  color: #fff;
}
.btn-twitter {
  background-color: #42aeec;
  color: #fff;
}
/* Adapted from https://bootsnipp.com/snippets/z8699 END */
.comment-wrapper .panel-body {
  max-height: 650px;
  overflow: auto;
}

.comment-wrapper .media-list .media img {
  width: 64px;
  height: 64px;
  border: 2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
  border-bottom: 1px dashed #efefef;
  margin-bottom: 25px;
}

.entry:not(:first-of-type) {
  margin-top: 10px;
}

.link-block {
  display: block;
}

.gallery-container {
  max-width: 760px;
  margin: auto;
  border: #fff solid 3px;
  background: #fff;
}

.main-img img,
.imgs img {
  width: 100%;
  max-height: 400px;
}

.imgs > div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  border-top: #fff solid 20px;
  position: relative;
}

#img-collection img {
  height: 100px;
  width: 186px;
}

#img-collection-delete input {
  height: 20px;
  width: 20px;
  background-color: gray;
  position: absolute;
}

#img-collection {
  z-index: 1;
  position: absolute;
}

#img-collection-delete {
  z-index: 2;
  position: absolute;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease-in 1 forwards;
}

.selectable:hover {
  background-color: #0b50e0;
  color: white;
  cursor: pointer;
}

.selected {
  background-color: #0d6efd;
  color: white;
  cursor: pointer;
}

.selected:hover {
  background-color: #0d6efd;
  color: white;
  cursor: pointer;
}
